@page
@model HaiAdmin.Pages.Report.IndexModel

@{
    ViewData["Title"] = "Report";
}

<h4>Reports</h4>

<p>
    <a asp-page="Add">Add a new record</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reports.FirstOrDefault().Guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reports.FirstOrDefault().Key)
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reports)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Guid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    <a asp-page="Update" asp-route-id="@item.Id">Modify</a> |
                    <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>